footer {
  background-color: black;
  color: white;
  padding-top: 3em;
}

footer .links {
  width: 30%;
  float: left;
}

footer h3 {
  color: white;
}
 
.hero-background {
  background: URL('http://farm9.staticflickr.com/8466/8139078216_ac482a0e75_b.jpg');
  background-repeat: none;
 /* width: 100%;*/
/*  padding-left: 16%;*/
  height: 500px;
}
.top-bar {
  padding-left: 15%;
  padding-right: 15%;
}

